.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #2196F3;
  padding: 5px;
  height: 100%;
  font-weight: 460;
  font-size: 1rem;
}

.headerrow {
  background-color: #7ec088;
  width: 100%;
  height: 10%;
}

.bodyrowcnr {
  display: flex;
  flex-direction: row;
  gap: 4px;
  background-color: #a2b6c7;
  /* padding: 5px; */
  height:90%;
}

.menucolcnr {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #8eaecc;
  /* padding: 5px; */
  width: 16%;
}

.content {
  background-color: white;
  width: 100%;
  gap: 2px;
}

.hdrlbl {
  float: left;
  width: 50%;
}

.ghsrc {
  float: left;
}

.tgl {
  cursor: pointer;
}

/* slide-panel.component.css */

/* slide-panel.component.css */

/* The element starts off the left side and animates to its normal position */
.slide-in {
  @starting-style {
    transform: translateX(-100%);
  }
  transition: transform 600ms ease-in;
  transform: translateX(0);
}

/* The element leaves by animating from its normal position to off the right side */
.slide-out {
  transition: transform 600ms ease-out;
  transform: translateX(-100%);
}

/* Add a class to the panel's container to ensure content outside the panel is hidden */
.slide-panel-container {
  overflow: hidden;
}



